h1{
	color: #ff6347;
	text-align: center;
	
}


	
body{
	color: white;
	text-align: center;
}



p.2{
	color: MediumSeaGreen;
	font-style: italic;
	text-align: center;
}


	
body{
	background: #3c3c3c
}


ul {
	
    	list-style-type: none;
   	margin: 0;
  	padding: 0;
  	overflow: hidden;
 	background-color: #3c3c3c;
	text-align: center;
   	
	
}

div.horizontal {
    display: flex;
    justify-content: center;
}

li {
    	float: left;
	text-align: center;
	display: inline-block;
	
}

li a {
  	display: block;
   	color: white;
   	text-align: center;
   	padding: 14px 16px;
   	text-decoration: none;
	text-align: center;

}

li a:hover {
    background-color: #333;
    color: tomato;
}
	
a:link{
	color: white;
}

a:visited{
	color: LightGrey
}



}


















